dt.col-3 {
  text-align: right;
}

dd.col-9 {
  text-align: left;
}

.accordion-body li {
  margin-bottom: 1rem;
}

.nested-list li {
  margin-bottom: inherit;
}

#challenge pre {
  margin-bottom: 0;
  padding-top: 0.125rem;
}
